body {
  font-family: 'Fira Sans', sans-serif;
  background-color: black;
  font-family: 'Sedgwick Ave', cursive;
}
.header {
  text-decoration-color: black;
  background-color: red;
  font-size: 60px;
  text-align: center;
  text-shadow: black 2px 2px 5px;
  border-bottom: 5px solid black;
  padding: 20px;
  border-radius: 10px;
}
.navbar {
  text-align: center;
  background-color: black;
  
}
.btn{
  background-color: red;
  color: black;
  font-size: 30px;
  font-weight: 200;
  margin: 10px;
  padding: 20px;
  border: none;
  border-radius: 40px;
  outline: none;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
}


.btn {
  color: red !important;
  text-transform: uppercase;
  background: black;
  padding: 20px;
  border: 4px solid red !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  }
  .btn:hover {
  color:red !important;
  border-radius: 50px;
  border-color: red !important;
  transition: all 0.3s ease 0s;
  }




h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
}




.container {
  padding: 0 2rem;
}

.actionBtn{
  width: auto;
}

.memeBtn{
  width: 150px;
  height: 30px;
  margin-left: 20px;
  border: 0ch;
  background-color: rgb(22, 22, 22);
  color: white;
  border-radius: 4px;
}

.memeBtn:hover{
  background-color: rgb(0, 0, 173);
  color: white;
}

.jokeBtn{
  width: 150px;
  height: 30px;
  margin-left: 20px;
  border: 0ch;
  background-color: rgb(22, 22, 22);
  color: white;
  border-radius: 4px;
}

.jokeBtn:hover{
  background-color: rgb(0, 0, 173);
  color: white;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 2rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 2rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 650px;
  height: 320px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}


